body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 90px;
    grid-template: 30px 30px 30px 30px 30px/90px 75px 87px 150px    ;

}

.name {
    grid-row: 1/2;
    grid-column: 1/2;
}

.namet {
    grid-row: 1/2;
    grid-column: 2/3;
}
.reqn{
    grid-row: 1/2;
    grid-column: 4/5;
    color: red;
    
}

.title {
    grid-row: 2/3;
    grid-column: 1/2;
}

.titlet {
    grid-row: 2/3;
    grid-column: 2/3;
}
.reqt{
    grid-row: 2/3;
    grid-column: 4/5;
    color: red;

}

.extension {
    grid-row: 3/4;
    grid-column: 1/2;
}

.extensiont {
    grid-row: 3/4;
    grid-column: 2/3;

}
.reqe{
    grid-row: 3/4;
    grid-column: 4/5;
    color: red;
    
}

button {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #4f9cda;
    color: white;
}

input {
    border: solid rgb(102, 104, 216) 1.1px;
}

table {
    width: 600px;
    align-items: center;
}

thead tr {
    background-color: #4f9cda !important;
    color: white;
    font-weight: bold;
}

td {
    width: 150px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 5px;
}

tr:nth-of-type(n) {
    background-color: #d2dff1;
}

tr:nth-of-type(2n) {
    background-color: #eaf0f8;
}

tr td:nth-of-type(4) {
    text-align: center;
}
small{
    display: none;
    padding-left: 8px;
}
.del-btn {
    padding: 3px 20px;
}